body{
    background-color: rgb(219, 203, 233);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}
p{
    font-family: 'Times New Roman', Times, serif;
    color: black;
}
h4{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(148, 34, 177);
}
h3{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(97, 10, 119);
}
div{
    background-color: lightpink;
    width: 100%;
    display: flex;

}
h2{
    text-align: center;
    padding-left: 50px;

}

#bisuteria{
    width: 75%;
}
div img{
    width: 75%;
}
h2{
    padding-left: 50px;

}


#menu{
    background-color: lightpink;
    color: #fff;
    padding: 20px;
    text-align: center;
}

img {
    width: 130px;
    vertical-align: middle;
    margin-right: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

#navegacion{
    width: 100%;
    align-items: center;
    justify-content: center;
    
}
a{
    text-decoration: none;
    color: #fff;
}

